<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <link rel="stylesheet" href="style.css">

    <title>Simulation Result</title>
  </head>
  <body>
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <h1>Simulation result for project <span id="project-name"></span></h1>
                <h3><span id="time"></span></h3>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-md-12">
                <h2>General stats</h2>
                <h3>Total cost: <span id="total-cost"></span></h3>
                <h3>Real time duration: <span id="duration"></span></h3>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-10">
                <h3 class="text-center">Cost distribution by node type</h3>
                <canvas id="cost"></canvas>
            </div>
        </div>
        <br>
        <hr>
        <br>
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-10">
                <h3 class="text-center">Detailed cost distribution</h3>
                <canvas id="cost-detail"></canvas>
            </div>
        </div>
        <br>
        <hr>
        <br>
        <div class="row">
            <div class="col-md-12">
                <h4>Detailed statistics for <strong>Start Nodes</strong></h4>
                <span id="start-table">

                </span>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-md-12">
                <h4>Detailed statistics for <strong>Transport Nodes</strong></h4>
                <span id="transport-table">

                </span>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-md-12">
                <h4>Detailed statistics for <strong>Transform Nodes</strong></h4>
                <span id="transform-table">

                </span>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-md-12">
                <h4>Detailed statistics for <strong>Buffer Nodes</strong></h4>
                <span id="buffer-table">

                </span>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-md-12">
                <h4>Detailed statistics for <strong>Confluence Nodes</strong></h4>
                <span id="convergence-table">

                </span>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-md-12">
                <h4>Detailed statistics for <strong>Divergence Nodes</strong></h4>
                <span id="divergence-table">

                </span>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-md-12">
                <h4>Detailed statistics for <strong>Test Stand Nodes</strong></h4>
                <span id="test-table">

                </span>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-md-12">
                <h4>Detailed statistics for <strong>Repair Nodes</strong></h4>
                <span id="repair-table">

                </span>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-md-12">
                <h4>Detailed statistics for <strong>Random Error Nodes</strong></h4>
                <span id="error-table">

                </span>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-md-12">
                <h4>Detailed statistics for <strong>End Nodes</strong></h4>
                <span id="end-table">

                </span>
            </div>
        </div>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
    <script src="jslib/table_helpers.js"></script>
    <script src="jslib/report_utils.js"></script>
    <script src="data.js"></script>
    <script src="injector.js"></script>
</body>
</html>